<div class="row">
    <div class="col-4">
        <h5 class="mb-0"><b>Clave:</b> {{ item.clave | default('') }}</h5>
        <h5 class="mb-0"><b>Región:</b> {{ item.region | default('') }}</h5>
    </div>
    <div class="col-4">
        <h5 class="mb-0"><b>Región nueva:</b> {{ item.regionNuevo | default('') }}</h5>
        <h5 class="mb-0"><b>Compañía:</b> {{ item.compania.nombre | default('') }}</h5>
    </div>
    <div class="col-4">
        {% if '1' == item.activo %}
            <h5 class="mb-0"><b>Estado:</b> Habilitado</h5>
        {% else %}
            <h5 class="mb-0"><b>Estado:</b> Deshabilitado</h5>
        {% endif %}
    </div>
</div>

