{% extends 'baseAdmin.html.twig' %}

{% block title %}Tiempo de reserva (hrs) {% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Tiempo de reserva (hrs) </h3>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    <input type="number" style="width: 90%" class="form-control" id="tiempo" min="1" max="24"
                           name="tiempo" value="{{ tiempo }}">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    <button id="btn_guardar" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#tiempo').on('keydown keypress', function (e) {
            if (e.key.length === 1) {
                if ($(this).val().length < 2) {
                    $(this).val($(this).val() + e.key);
                }
                return false;
            }
        });

        $('#btn_guardar').click(function (e) {
            var tiempo = $('#tiempo').val();
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            $.post("{{ path('app_tiempo_guardar') }}",
                {
                    tiempo: tiempo
                },
                function (data) {
                    toastr.success("El elemento ha sido modificado correctamente.");
                    setTimeout(function () {
                        $(window).attr('location', window.location)
                    }, 500);
                    HoldOn.close()
                });
        })

    </script>
{% endblock %}