<div class="card">
    <div class="card-body">
        <div class="row">            
            <div>                
                <h5 class="mb-0"><b>Url de conexión:</b> {{ item.urlChat }}</h5>                             
            </div>
        </div>
        <div class="row">            
            <div>                
                <h5 class="mb-0"><b>Conexión:</b> {{ item.info }}</h5>                             
            </div>
        </div>
        <div class="row">
            <h5 class="mb-0">
                    <b>Descripción:</b> {{ item.description }}
            </h5> 
        </div>        
    </div>
</div>